<!DOCTYPE html>

<html>

<head>
	<title>Football</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/jpg" href="images/main-1/ball_blue.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Risque&display=swap" rel="stylesheet">
</head>

<body style="display: none;">
	<div id="pixi-content"><canvas id="pixi-canvas" /></div>
	<form id="wrapper" class="col-8">
		<input id="username" class="form-control form-control-lg mb-1" type="text" placeholder="Username"
			autocomplete="on">
		<input id="password" class="form-control form-control-lg" type="password" placeholder="Password"
			autocomplete="on">
		<button type="button" id="go" class="ml-auto">Go</button>
		<button type="button" id="login" class="ml-auto">Login</button>
		<button type="button" id="register" class="ml-auto">Register</button>
	</form>
	<script>
		// window.addEventListener("error", handleError, true);
		// function handleError(evt) {
		// 	// alert msg for mobile debug
		// 	if (evt.message) { // Chrome sometimes provides this
		// 		alert("error: " + evt.message + " at linenumber: " + evt.lineno + " of file: " + evt.filename);
		// 	} else {
		// 		alert("error: " + evt.type + " from element: " + (evt.srcElement || evt.target));
		// 	}
		// }
	</script>
</body>

</html>